.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 3px solid red;
}

th {
  text-align: left;
}


.racer_table tr {
  background-color: black;
  height: 20px;
  width: 20px;
  border-bottom: 4px;
}

.racer_table .active {
  background-image: url('../coyote-pouncing.jpg');
  background-size: 85px;
  font-weight: 30px;
}

.racer_table td {
  background-color: green;
  border: 2px solid black;
  height: 100px;
  width: 80px;
}


#player2_strip{
  border-bottom: 4px solid black;
}

#player1_strip .active {
  background-image: url('../coyote-howling.jpg');
  background-size: 140px;
  font-weight: 30px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Comic Sans MS";
}

.winner {
  background-color: blue;
  width: 400px;
}

.winner:hover {
  transition-property: background-color, width;
  transition-duration: 5s;
  background-color:green;
  width: 600px;
}

.winners {
  text-align: center;
}

.losers {
  text-align: center;
}