<div class="container">
    <h1>Are You Ready To Race?</h1>

    <form action= "/" method = "post">
      <p><label for "player1">Player1</label></p>
      <p><input type="text" name="player1"></p>

      <p><label for "player2">Player2</label></p>
      <p><input type="text" name="player2"></p>

      <p><input type="submit" value="Ready to Begin"></p>
    </form>


</div>
