<div class="winner"><%= @race_winner.name %> won the race! </div>
<div class="loser"><%= @race_loser.name %> lost the race! </div>

<div class="winners">
  WINNERS
  <% count = 0 %>
  <% @all_players.select do |winner| %>
    <%= "#{count += 1}: #{winner.name}" if winner.win == true %>
  <% end %>
</div>

<div class="losers">
  LOSERS
  <% count = 0 %>
  <% @all_players.map do |loser| %>
    <%= "#{count += 1}: #{loser.name}" if loser.win == false %>
  <% end %>
</div>